[
  {rabbit, [
      {default_vhost,<<"/">>},
      {default_user, <<"admin">>},
      {vm_memory_high_watermark, 0.4},
      {disk_free_limit, {mem_relative, 2.0}}
    ]
  },
  {prometheus,[
      {collectors,[
	prometheus_vm_statistics_collector,
	prometheus_vm_memory_collector,
        prometheus_process_collector,
        prometheus_rabbitmq_queues_collector,
        prometheus_rabbitmq_core_metrics_collector,
        prometheus_rabbitmq_overview_collector]},
      {rabbitmq_exporter,[
	{queue_messages_stat,[messages_published_total,messages_delivered_total,messages_redelivered_total]},
	{exchange_messages_stat,[]}]}
    ]
  } 
].
